*{margin: 0px; padding: 0px;}
body{
    padding: 0px;
    font-size: 14px;
    margin: 0px auto;
    font-family:arial;
}
a{
    text-decoration: none;
}
a:hover, a:focus{
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, figur{
    margin: 0px;
    font-weight: normal;
}
ul, ol{
	margin:0px;
	padding:0px;
	list-style:none;
}
.floatleft{
    float: left
}
.floatright{
    float:right;
}
.clear{
    clear: both;
}
a:focus {
    outline: none;
    outline-offset: 0px;
}
.no-margin{
	margin:0px;
}
#scrollUp{
	background:url('images/top.png') no-repeat;
	height:38px;
	width:38px;
	right:20px;
	bottom:50px;
	text-indent:-9999px;
}
/* ========end default style========= */


section.amimate {
  position: relative;
  overflow:hidden;
}
.body-text {
		margin-top: 4vw;
}
.body-text h1 {
	font-size: 6vw;
	font-weight: normal;
	letter-spacing: 0.5vw;
	color: #fff !important;
	text-align: center;
}
.body-text h1,
.body-text h2,
.body-text h3 {
  color: #555;
   font-family: oswald;
}
.body-text h2 {
		font-size: 3vw;
		text-transform: uppercase;
		margin-top: 7px;
		text-align: center;
		letter-spacing: 0.5vw;
}
.body-text h3 {
 		font-size: 3vw;
		letter-spacing: 4px;
		margin-top: 1vh;
		text-transform: uppercase;
		text-align: center;
}
.footer-text {
	color: #000 !important;
	letter-spacing: 0.5vw !important;
	font-size: 4vw !important;
	text-transform: uppercase;
	font-weight: 300;
}

.barcode-img-area > img {
	width: 10vw;
	text-align: center;
	position: relative;
	top: 12vh;
	left: 7vw;
}
.footer-text span {
	font-size: 7vw;
	font-weight: 700;
}
.footer-section{
	padding: 0 1vw;
}
.border-img {
	/* transform: scale(1.4, 1.2); */
  /* transform: scale(1.6, 1.5); */
  /* transform: scale(0, 0); */
  animation: zoomingImg 50s infinite;
}
.barcode-img-area {
	background: url(images/border-img.png) no-repeat;
	width: 25vw;
	height: 35vh;
	background-position: center center;
	top: -25vh;
	position: relative;
	animation: breath 4s linear infinite;

}
@keyframes breath {
  0%   { background-size: 60% auto; }
  50% { background-size: 80% auto; }
  100% { background-size: 60% auto; }
}



@-moz-keyframes zoomingImg {
	from { transform: scale(1.4, 1.2); }
	to { transform: scale(1.6, 1.5); }
}


/*----leser-css-----*/
.mover {
	width: 21vw;
	height: 0.2vh;
	background: rgba(255,0,0,0.8);
	border-radius: 90%;
	animation: move 10s infinite ease-in-out;
	box-shadow: 0px 0px 5px #ff0000;
}

@keyframes move {
  20%, 100% {
    opacity: 0;
    transform: translate(0px, 255px)
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

.area {
	width: 23vw;
	height: 30vh;
	margin: 0 auto;
	border-radius: 0px;
	position: relative;
	top: -12vh;
	left: 32vw;
}

.amimate {
	background-image: url(images/bg.png);
	height: 100vh;
  	width: 100%;
	background-size:cover;
}


.sliding-background {
	background: url(images/img3.png) repeat-x;
	height: 63vh;
	width: 5076px;
	animation: animatedBackground 60s linear infinite;
	margin: 11vh 0 0 -3vw;
}


@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}

@-moz-keyframes animatedBackground {
	from { background-position: 100% 0; }
	to { background-position: 0 0; }
}
/* Move it (define the animation) */




wrapper {
  overflow: hidden;
}

/*.sliding-background {
  background: url(images/sliding-background-template.png) repeat-x;
  height: 560px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}*/











